body{
  background-color: #ffffff;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.titulo-principal{
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #4e4e4e;
}

.container a{
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(52, 123, 216);
}

.container a:hover{
  color: #2c96f3;
}